// Colors
$light_gray: #f2f2f2;
$maroon: #9E0303;
$deep-blue: #041A5E;
$teal: #00E390;
$cyan: #21FFD2;
$forest: #022E0A;
$moonleaf: #7CFF80;
$slate: #333333;

// Font sizes
$small: 11px;
$medium: 13px;
$large: 16px;


//Fonts
$bubbler: 'Bubbler One';
$roboto: 'Roboto Slab';