// Place all the styles related to the buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#thumbnails{
	list-style: none;
}

.building{
	height: 360px;
}

#building_list{
	margin: 20px 0 0;

	li:nth-child(4n+1){
		margin: 0;
	}
}

#new_building{
	margin: 0;
}