// Place all the styles related to the buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.building{
	height: 360px;
}

#building-list{
	margin: 20px 0 0;

	li:nth-child(4n+1){
		margin: 0;
	}
}

#flash{
	margin-top: 20px;
}

#rooms-list{
	list-style: none;

	margin:0;
	li:nth-child(4n+1){
		margin:0;
	}
}

.room-details ul{
	list-style: none;
	margin: 0;
}

.room-link:hover{
	text-decoration: none;
}
